<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       	http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        ">
    <description>
       system Dao
    </description>
	 	
		
		<bean id="vehInfoDAO" class="com.gzeport.app.gps.dao.VehicleInfoDaoImpl">
			<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
			<property name="isMustValiateUser" >
			<value type="java.lang.Boolean">true</value>
			</property>
		</bean>
	 	
	 	<bean id="controlCarInfoDAO" class="com.gzeport.app.gps.dao.ControlCarInfoDaoImpl">
			<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
			<property name="vehInfoDAO" ref="vehInfoDAO"></property>
		</bean>
	 	    
</beans>
